.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

/.next/
/out/
/build

node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo
next-env.d.ts

/coverage

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

.vercel

.sentryclirc

yarn.lock
pnpm-lock.yaml

*.local